datasets==3.2.0
distilabel==1.5.3
lighteval==0.7.0
math_verify==0.3.3
matplotlib==3.10.0
numpy==2.2.2
openai==1.61.0
packaging==24.2
pandas==2.2.3
peft==0.14.0
Pillow==11.1.0
PyYAML==6.0.2
PyYAML==6.0.2
seaborn==0.13.2
setuptools==75.8.0
torch==2.6.0+cu126
tqdm==4.67.1
transformers==4.48.2
trl==0.14.0
